replicaCount: 2
revisionHistoryLimit: 2

image:
  repository: cloudflare/cloudflared
  tag: 2024.12.1
  pullPolicy: IfNotPresent

tunnel:
  tokenSecretName: cloudflared-tunnel-token
  tokenSecretKey: token

serviceAccount:
  create: true
  name: cloudflared

metrics:
  enabled: true
  port: 2000

sealedSecret:
  enabled: false
  name: cloudflared-tunnel-token
  encryptedToken: ""

resources:
  requests:
    cpu: 50m
    memory: 64Mi
    ephemeral-storage: 256Mi
  limits:
    cpu: 200m
    memory: 256Mi
    ephemeral-storage: 512Mi
