tenant:
  tenant:
    name: minio

    image:
      repository: quay.io/minio/minio
      tag: RELEASE.2025-09-07T16-13-09Z@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
      pullPolicy: IfNotPresent

    # Use an existing secret that provides config.env with MINIO_ROOT_USER/MINIO_ROOT_PASSWORD
    configSecret:
      name: minio-root-credentials
      existingSecret: true
      accessKey: ""
      secretKey: ""

    serviceMetadata:
      annotations:
        traefik.ingress.kubernetes.io/service.serversscheme: https
        traefik.ingress.kubernetes.io/service.serverstransport: minio-tenant-minio-transport@kubernetescrd

    pools:
    - servers: 3
      name: pool-0
      volumesPerServer: 2
      size: 50Gi
      storageClassName: proxmox-csi-zfs-nvme-object-retain
      nodeSelector:
        node-role.kubernetes.io/worker: "true"

    mountPath: /export
    subPath: /data

  ingress:
    api:
      enabled: true
      ingressClassName: "traefik"
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
        external-dns.alpha.kubernetes.io/ignore: "true"
      host: s3.m0sh1.cc
      path: /
      pathType: Prefix
      tls:
      - secretName: wildcard-s3-m0sh1-cc
        hosts:
        - s3.m0sh1.cc
    console:
      enabled: true
      ingressClassName: "traefik"
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
        external-dns.alpha.kubernetes.io/ignore: "true"
      host: s3-console.m0sh1.cc
      path: /
      pathType: Prefix
      tls:
      - secretName: wildcard-s3-m0sh1-cc
        hosts:
        - s3-console.m0sh1.cc
