server: "{{ k3s_cluster_server_url }}"
token: "{{ k3s_cluster_token }}"
node-name: "{{ inventory_hostname }}"
{% set node_ip = k3s_node_ip | default(ansible_host) %}
{% set external_ips = k3s_node_external_ip | default([node_ip]) %}
node-ip: "{{ node_ip }}"
node-external-ip:
{% for ip in external_ips %}
  - "{{ ip }}"
{% endfor %}
{% if k3s_flannel_iface | default("") %}
flannel-iface: "{{ k3s_flannel_iface }}"
{% endif %}
{% if k3s_node_labels | default([]) | length > 0 %}
node-label:
{% for label in k3s_node_labels %}
  - "{{ label }}"
{% endfor %}
{% endif %}
{% if k3s_node_taints | default([]) | length > 0 %}
node-taint:
{% for taint in k3s_node_taints %}
  - "{{ taint }}"
{% endfor %}
{% endif %}
{% if k3s_allow_swap | default(false) %}
kubelet-arg:
  - "fail-swap-on=false"
{% endif %}
