mirrors:
  docker.io:
    endpoint:
      - "https://harbor.m0sh1.cc/hub"
  ghcr.io:
    endpoint:
      - "https://harbor.m0sh1.cc/ghcr"
  quay.io:
    endpoint:
      - "https://harbor.m0sh1.cc/quay"
  registry.k8s.io:
    endpoint:
      - "https://harbor.m0sh1.cc/k8s"

configs:
  harbor.m0sh1.cc:
    tls:
      insecure_skip_verify: true
