argus:
  controllers:
    main:
      containers:
        main:
          args:
            - -config.file
            - /config/config.yml
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 512Mi

  service:
    main:
      type: ClusterIP
      ports:
        http:
          port: 8080
          primary: true

  ingress:
    main:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
      hosts:
        - host: argus.m0sh1.cc
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: wildcard-m0sh1-cc
          hosts:
            - argus.m0sh1.cc

  config:
    useExistingConfigMap: argus-config
    filename: config.yml
    autoIcons:
      enabled: true
      github: true
      webFavicon: true

  secret:
    existingSecret: argus-discord-webhook
    envFrom: true

  defaultPodOptions:
    tolerations:
      - key: workload.m0sh1.cc
        operator: Equal
        value: batch
        effect: NoSchedule
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 80
            preference:
              matchExpressions:
                - key: topology.kubernetes.io/zone
                  operator: In
                  values:
                    - pve-01
                    - pve-02
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: argus
