trivy-operator:
  fullnameOverride: trivy-operator
  targetNamespaces: "apps"
  # Keep CRDs enabled; Argo will manage them via the release.
  operator:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 1
        memory: 512Mi
    serviceAccount:
      create: true
    podSecurityContext:
      seccompProfile:
        type: RuntimeDefault
    securityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      capabilities:
        drop: ["ALL"]
    scanJobsConcurrentLimit: 1
    scanNodeCollectorLimit: 1
    scanJobTimeout: 5m
    scanJobTTL: 30m
  trivyOperator:
    scanJobTolerations:
      - operator: Exists
    scanJobCustomVolumes:
      - name: trivy-cache
        emptyDir: {}
    scanJobCustomVolumesMount:
      - name: trivy-cache
        mountPath: /tmp/trivy
  trivy:
    image:
      registry: harbor.m0sh1.cc
      repository: apps/trivy-operator
      tag: "0.69.0-debian13-trivy-operator"
      imagePullSecret: null
    imageScanCacheDir: "/tmp/trivy/.cache"
    filesystemScanCacheDir: "/tmp/trivy/.cache"
    ignoreUnfixed: true
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 768m
        memory: 2Gi
  nodeCollector:
    tolerations:
      - operator: Exists
