apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  labels:
    app.kubernetes.io/name: cloudflared
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app.kubernetes.io/name: cloudflared
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cloudflared
    spec:
      automountServiceAccountToken: false
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
        - name: cloudflared
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /bin/sh
            - -ec
          args:
            - >-
              cloudflared tunnel --no-autoupdate run --token "$TUNNEL_TOKEN"
{{- if .Values.metrics.enabled }}
              --metrics 0.0.0.0:{{ .Values.metrics.port }}
{{- end }}
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.tunnel.tokenSecretName }}
                  key: {{ .Values.tunnel.tokenSecretKey }}
{{- if .Values.metrics.enabled }}
          ports:
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
{{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
