kubescape-operator:
  clusterName: lab
  ksNamespace: kubescape
  configurations:
    priorityClass:
      enabled: false
  resources:
    requests:
      cpu: 125m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi
