apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: apps-root
    app.kubernetes.io/name: kube-prometheus-stack
    app.kubernetes.io/instance: kube-prometheus-stack
  annotations:
    argocd.argoproj.io/sync-wave: "30"
spec:
  project: default

  source:
    repoURL: https://github.com/sm-moshi/infra.git
    targetRevision: main
    path: apps/cluster/kube-prometheus-stack
    helm:
      releaseName: kube-prometheus-stack
      skipCrds: true
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
