cronSchedule: "0 * * * *"

image:
  registry: harbor.m0sh1.cc/hub
  repository: renovate/renovate
  tag: "42.85.7"
  pullPolicy: Always

# imagePullSecrets:
#   - harbor-robot-gitea

# hostAliases:
#   - ip: "10.43.175.100"
#     hostnames:
#       - harbor.m0sh1.cc

secretName: renovate-github-token

github:
  endpoint: https://api.github.com
  gitAuthor: "Renovate Bot <renovate@m0sh1.cc>"
  repositories: '["sm-moshi/infra", "sm-moshi/helm-charts", "sm-moshi/act"]'

logLevel: debug

podAnnotations:
  m0sh1.cc/restarted-at: "2025-12-27T01:15:00Z"

extraEnv:
  NODE_OPTIONS: "--max-old-space-size=3584"
  RENOVATE_CONCURRENT_LIMIT: "1"
  RENOVATE_WORKER_COUNT: "1"
  RENOVATE_CACHE_DIR: "/tmp/renovate-cache"

podSecurityContext:
  fsGroup: 1000
  fsGroupChangePolicy: "OnRootMismatch"

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 2
    memory: 2Gi

persistence:
  cache:
    enabled: true
    storageClass: proxmox-csi-zfs-caches-delete
    storageSize: 2Gi
    accessModes:
      - ReadWriteOnce
    mountPath: /tmp/renovate-cache

nodeSelector:
  node-role.kubernetes.io/worker: "true"
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 50
        preference:
          matchExpressions:
            - key: topology.m0sh1.cc/pve
              operator: In
              values:
                - pve-01
tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule
