{{- if .Values.coredns.customConfig }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
  labels:
    app.kubernetes.io/name: coredns
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  {{- range $key, $value := .Values.coredns.customConfig }}
  {{ $key }}: |
{{ $value | indent 4 }}
  {{- end }}
{{- end }}
