k8s-monitoring:
  cluster:
    name: lab

  destinations:
    - name: loki
      type: loki
      url: http://loki.observability.svc.cluster.local:3100/loki/api/v1/push

  alloy:
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 65532
      seccompProfile:
        type: RuntimeDefault

  clusterEvents:
    enabled: true
    destinations:
      - loki
  alloy-singleton:
    enabled: true
    alloy:
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi

  nodeLogs:
    enabled: false

  podLogs:
    enabled: false
    destinations:
      - loki
    gatherMethod: kubernetesApi
  alloy-logs:
    enabled: false
    alloy:
      clustering:
        enabled: false
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 200m
          memory: 256Mi
