{% for i in proxmox_network_bridge_blocks %}
{% if i.auto | default(true) %}auto {{ i.name }}
{% endif -%}
iface {{ i.name }} {{ i.family | default('inet') }} {{ i.method | default('manual') }}
{% if i.address is defined %}  address {{ i.address }}
{% endif -%}
{% if i.gateway is defined %}  gateway {{ i.gateway }}
{% endif -%}
{% for key, value in (i.options | default({})).items() %}  {{ key }} {{ value }}
{% endfor %}

{% endfor %}
