loki:
  deploymentMode: SingleBinary

  global:
    extraArgs:
      - -config.expand-env=true
    extraEnv:
      - name: LOKI_S3_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: minio-root-credentials
            key: root-user
      - name: LOKI_S3_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: minio-root-credentials
            key: root-password

  loki:
    fullnameOverride: loki
    auth_enabled: false

    commonConfig:
      replication_factor: 1

    storage:
      type: s3
      bucketNames:
        chunks: loki-chunks
        ruler: loki-ruler
        admin: loki-admin
      s3:
        endpoint: http://minio.observability.svc.cluster.local:9000
        region: us-east-1
        s3ForcePathStyle: true
        insecure: true
        accessKeyId: ${LOKI_S3_ACCESS_KEY_ID}
        secretAccessKey: ${LOKI_S3_SECRET_ACCESS_KEY}

    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h

    limits_config:
      retention_period: 720h # 30d
      ingestion_rate_mb: 4
      ingestion_burst_size_mb: 8
      allow_structured_metadata: true

    compactor:
      retention_enabled: false
      delete_request_store: s3

    ruler:
      enable_api: false

    analytics:
      reporting_enabled: false

    serviceMonitor:
      enabled: false
      namespaceSelector:
        matchNames:
          - observability
      labels:
        release: prometheus
      interval: 30s

    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi

  singleBinary:
    replicas: 0
    persistence:
      enabled: true
      storageClass: proxmox-csi-zfs-pgdata-retain
      accessModes:
        - ReadWriteOnce
      size: 10Gi
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 600m
        memory: 768Mi
    tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule

  chunksCache:
    enabled: false

  read:
    replicas: 0

  write:
    replicas: 0

  backend:
    replicas: 0

  minio:
    enabled: false
