{% if k3s_enable_harbor_mirrors | default(false) %}
mirrors:
  docker.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "hub/$1"

  ghcr.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "ghcr/$1"

  quay.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "quay/$1"

  registry.k8s.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "k8s/$1"

  dhi.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "dhi/$1"

{% endif %}
configs:
{% if k3s_enable_harbor_mirrors | default(false) %}
  harbor.m0sh1.cc:
    tls:
      insecure_skip_verify: {{ (k3s_registry_tls_insecure_skip_verify | default(true)) | bool | lower }}
{% if k3s_registry_tls_ca_file is defined and (k3s_registry_tls_ca_file | length > 0) %}
      ca_file: "{{ k3s_registry_tls_ca_file }}"
{% endif %}
{% if harbor_registry_auth is defined %}
    auth:
      username: "{{ harbor_registry_auth.username }}"
      password: "{{ harbor_registry_auth.password }}"
{% endif %}

{% endif %}

  docker.io:
{% if dockerhub_auth is defined %}
    auth:
      username: "{{ dockerhub_auth.username }}"
      password: "{{ dockerhub_auth.password }}"
{% endif %}

  ghcr.io:
{% if ghcr_io_auth is defined or ghcr_io_password is defined %}
    auth:
      username: "{{ ghcr_io_auth.username if ghcr_io_auth is defined else ghcr_io_username }}"
      password: "{{ ghcr_io_auth.password if (ghcr_io_auth is defined and ghcr_io_auth.password is defined) else ghcr_io_password }}"
{% endif %}

  dhi.io:
{% if dhi_io_auth is defined %}
    auth:
      username: "{{ dhi_io_auth.username }}"
      password: "{{ dhi_io_auth.password }}"
{% endif %}
