mirrors:
  docker.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "hub/$1"

  ghcr.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "ghcr/$1"

  quay.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "quay/$1"

  registry.k8s.io:
    endpoint:
      - "https://harbor.m0sh1.cc"
    rewrite:
      "^(.*)$": "k8s/$1"

configs:
  harbor.m0sh1.cc:
    tls:
      insecure_skip_verify: true
