---
- name: Configure resolv.conf with max 3 nameservers
  ansible.builtin.template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart systemd-resolved
