origin-ca-issuer:
  controller:
    replicaCount: 1
    revisionHistoryLimit: 1
    clusterResourceNamespace: origin-ca-issuer
    tolerations:
      - key: workload.m0sh1.cc
        operator: Equal
        value: batch
        effect: NoSchedule
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: origin-ca-issuer
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 80
            preference:
              matchExpressions:
                - key: topology.kubernetes.io/zone
                  operator: In
                  values:
                    - pve-01
                    - pve-02
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 256Mi

  certmanager:
    namespace: cert-manager
    serviceAccountName: cert-manager

originCaIssuer:
  name: cloudflare-origin-ca
  requestType: OriginECC
  tokenSecret:
    name: origin-ca-issuer-cloudflare
    key: cloudflare_api_token
