---
# Service management tasks for OPNsense

- name: Reload all OPNsense services
  ansible.builtin.command:
    cmd: /usr/local/etc/rc.reload_all
  register: __opnsense_reload_result
  changed_when: true
  when: opnsense_action == 'reload_all'
  tags:
  - opnsense
  - opnsense_service

- name: Reload firewall filter
  ansible.builtin.command:
    cmd: /usr/local/etc/rc.filter_configure
  register: __opnsense_filter_reload
  changed_when: true
  when: opnsense_action == 'reload_filter'
  tags:
  - opnsense
  - opnsense_service

- name: Reload firewall rules
  ansible.builtin.command:
    cmd: /usr/local/etc/rc.firewall
  register: __opnsense_firewall_reload
  changed_when: true
  when: opnsense_action == 'reload_firewall'
  tags:
  - opnsense
  - opnsense_service
