coredns:
  replicaCount: 1
  revisionHistoryLimit: 2

  serviceType: ClusterIP

  serviceAccount:
    create: true
    name: coredns

  # podDisruptionBudget:
  #   minAvailable: 1

  # tolerations:
  # - key: workload.m0sh1.cc
  #   operator: Equal
  #   value: batch
  #   effect: NoSchedule

  # affinity:
  #   nodeAffinity:
  #     requiredDuringSchedulingIgnoredDuringExecution:
  #       nodeSelectorTerms:
  #         - matchExpressions:
  #             - key: node-role.kubernetes.io/control-plane
  #               operator: DoesNotExist
  #             - key: node-role.kubernetes.io/master
  #               operator: DoesNotExist
  #     preferredDuringSchedulingIgnoredDuringExecution:
  #       - weight: 80
  #         preference:
  #           matchExpressions:
  #             - key: topology.kubernetes.io/zone
  #               operator: In
  #               values:
  #                 - pve-01
  #                 - pve-02
  #   podAntiAffinity:
  #     requiredDuringSchedulingIgnoredDuringExecution:
  #       - topologyKey: kubernetes.io/hostname
  #         labelSelector:
  #           matchLabels:
  #             app.kubernetes.io/name: coredns
  #             k8s-app: coredns

  # # Spread evenly across hosts and zones
  # extraTopologySpreadConstraints:
  #   - maxSkew: 1
  #     topologyKey: topology.kubernetes.io/zone
  #     whenUnsatisfiable: DoNotSchedule
  #     labelSelector:
  #       matchLabels:
  #         app.kubernetes.io/name: coredns
  #         k8s-app: coredns
  #   - maxSkew: 1
  #     topologyKey: kubernetes.io/hostname
  #     whenUnsatisfiable: ScheduleAnyway
  #     labelSelector:
  #       matchLabels:
  #         app.kubernetes.io/name: coredns
  #         k8s-app: coredns

  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 300m
      memory: 256Mi

  # Mount custom Corefile snippets delivered by the wrapper chart (coredns-custom ConfigMap)
  extraVolumes:
  - name: custom-config
    configMap:
      name: coredns-custom

  extraVolumeMounts:
  - name: custom-config
    mountPath: /etc/coredns/custom
    readOnly: true

  # Import all *.server files from the custom config directory
  serverBlockFiles:
    custom.server: |
      import /etc/coredns/custom/*.server

  # Add Proxmox hosts to CoreDNS NodeHosts for stable resolution
  # Prevents CSI plugin DNS failures that block PVC provisioning
  customConfig:
    proxmox-hosts.server: |
      # Static host entries for Proxmox cluster nodes
      hosts /etc/coredns/custom/proxmox.hosts {
        10.0.0.11 pve01.m0sh1.cc pve01
        10.0.0.12 pve02.m0sh1.cc pve02
        10.0.0.13 pve03.m0sh1.cc pve03
        10.0.10.11 pve01.m0sh1.cc pve01
        10.0.10.12 pve02.m0sh1.cc pve02
        10.0.10.13 pve03.m0sh1.cc pve03
        fallthrough
      }
    proxmox.hosts: |
      10.0.0.11 pve01.m0sh1.cc pve01
      10.0.0.12 pve02.m0sh1.cc pve02
      10.0.0.13 pve03.m0sh1.cc pve03
      10.0.10.11 pve01.m0sh1.cc pve01
      10.0.10.12 pve02.m0sh1.cc pve02
      10.0.10.13 pve03.m0sh1.cc pve03

  service:
    name: kube-dns
    clusterIP: 10.43.0.10
