---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin-secret
  namespace: monitoring
spec:
  encryptedData:
    admin-password: AgAyZBoALRXlFI7OUnBp/Mw6ckc/fTjAkvajqFrsEyqRUFh5U89jDxwXERh+M8Hrwmpf9ieHVEYad6gv3BDocRkzw/kx/syhI/W6xU/gIGHOiBkK6bcZDB/rAQ1vF3aYx1hxIfayMV0DUYIS/sa8qoLVIO+n5qktzxlach0ght9HH54EiJI1TBQWBeGzEMDFFixee1X1greNYPeq2P5jaq7XZzJ1uOx4A13JLg6SLM9y391TSVaoNzvDsxvSmHfJBSzhMsil3APGq6shYUDf4WLB8lwleSflwuvxWX/ZaTkxG8DUz538wr1qUV147yJ5xiI+5XcSG8AwNTZE08m05c++2DtiUM6NG/yRRwbb0FArsvVNyy1e5Z23TJww3qUAYghpeWySqbBZ14WsRsE9g+/QRsFemJDRC9+OEnn2+etd/UX8Qs2XDFbqGglNf2aytYeUPhDCr5qcQnYlekrjeQG3LfJDhtvf570B0L2zOmsHDNzEH71NCPxk2fd69iwlbU05bmorZaibWeQ9psrV9AGzfLhOg6j5l5p4OAwoaKkLVPCD/A9R2jlVyPssfVeDmyoOK8zJyKQ2gFPM5GQe600iw0iuAYlXwQd5983oqLRw3VnoI/h5yxsrml2d5svqnIOAsj+YGmzHoQDHwMZCREtWo+wJKlEzKhky8+Dov62s20BAMK+CvcGZMHUiplWNdM4WitPgQ2Z6YQRgzQZ9ZFHpFWALtRRZftUVjvyLhyGvWrwUSKZCYb+LYT8sog==
    admin-user: AgCVlPftX96hPZLeWonHe3f7ax6y8loKLqOjTqYYPsY2wOp3eccYi9rwuYmk98RcdrVA6c8s4Mmz1U5iWtRRJWqyyeL2fOxlvPwFPBCIaTY6GohDlbpquTogNAKURZAa2tjJ9xvJHbw5EggB9lkUuFZtUtRvMzmFyM54Saf7lK0Yre45+Nce6o3YG793WAKFmVlwCu9TBBeU7bC8DTS2b+QMQQbgwpGQvsjhwQfxaEvcWQOGEkuAp1pe9lP2lI0QdEbFip2heskbYcQ1sneA97LjEAAsWTPAK3ENHJUh59PU46ZwH36z9+uHx4MZUzQshMOZCRkltwpt/5rRNOyUKIZAqO884E9IWy1HwkHvdjKywafXeNv74DnUY31QA6fTXf/pAcDI/ik6/SqKHiseuN6oopDkb3/PdStRXbs/67ZeSnZvC6vnALQlwnXkOHKg0j93SwwF1zx6mopvo6z95INPSLDAk9icPn8wa6l1xjMjGf7PVsJbTy4ds2PpW/s1gLi+Mit89lvyQvnwDIo5A3jeUzdyR6fXa768V/slR9YYVNDfq8bZU6QpVId5cZnHF9dayFz6GYdYnOJuT2d0YVbBjlM2gC/u4lq+FQ1JbhVsLP22JAj4cGx+XZoxXY+gwuqKWU0p0ZQ45cfTxXSiVaxH3r3Oab8FE6hS1WrPRNpWkJyRr/7clSiujiGcMzUYnTe6GiWE4A==
  template:
    metadata:
      name: grafana-admin-secret
      namespace: monitoring
