semaphore:
  enabled: false
  image:
    repository: docker.io/semaphoreui/semaphore
    tag: "v2.16.51@sha256:316520f513e3c964d23cdd40709777a6a452e275020627aba406e9bd9c08adde"
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 3000
    internalPort: 3000

  ingress:
    enabled: true
    className: traefik
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      # external-dns.alpha.kubernetes.io/hostname: semaphore.m0sh1.cc
    hosts:
    - host: semaphore.m0sh1.cc
      paths:
      - path: /
        pathType: Prefix
    tls:
    - secretName: wildcard-m0sh1-cc
      hosts:
      - semaphore.m0sh1.cc

  general:
    host: "https://semaphore.m0sh1.cc"
    tmpPath: /var/lib/semaphore
    useRemoteRunner: true

  persistence:
    enabled: true
    size: 5Gi
    storageClass: proxmox-csi-zfs-pgdata-retain
    accessModes:
    - ReadWriteOnce

  database:
    type: postgres
    host: cnpg-main-rw.apps.svc.cluster.local
    port: 5432
    name: semaphore
    usernameFromSecret: true
    username: semaphore
    existingSecret: semaphore-postgres-auth
    passwordKey: password
    options:
      sslmode: disable

  admin:
    create: true
    existingSecret: semaphore-admin

  secrets:
    existingSecret: semaphore-secrets

  runner:
    existingSecret: semaphore-runner
    tokenKey: token

  extraEnvVariables:
    SEMAPHORE_PLAYBOOK_PATH: /var/lib/semaphore
    SEMAPHORE_RUNNER_API_URL: https://semaphore.m0sh1.cc

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 1
      memory: 768Mi
  # tolerations:
  #   - key: node-role.kubernetes.io/control-plane
  #     operator: Exists
  #     effect: NoSchedule
