# {{ ansible_managed }}
PAPERLESS_API_URL={{ smb_server_paperless_api_url }}
PAPERLESS_API_TOKEN={{ smb_server_paperless_api_token }}
PAPERLESS_INBOX_DIR={{ smb_server_paperless_incoming_path }}
PAPERLESS_PROCESSED_DIR={{ smb_server_paperless_processed_path }}
PAPERLESS_FAILED_DIR={{ smb_server_paperless_failed_path }}
PAPERLESS_ALLOWED_EXTENSIONS={{ smb_server_paperless_allowed_extensions | map('lower') | join(',') }}
PAPERLESS_METRICS_ENABLED={{ 'true' if smb_server_paperless_metrics_enabled | bool else 'false' }}
PAPERLESS_METRICS_FILE={{ smb_server_paperless_metrics_file }}
