# {{ ansible_managed }}
# Scanopy daemon environment configuration
SCANOPY_SERVER_URL={{ scanopy_daemon_server_url }}
SCANOPY_DAEMON_API_KEY={{ scanopy_daemon_api_key }}
SCANOPY_NETWORK_ID={{ scanopy_daemon_network_id }}
SCANOPY_USER_ID={{ scanopy_daemon_user_id }}
SCANOPY_NAME={{ scanopy_daemon_name }}
SCANOPY_MODE={{ scanopy_daemon_mode }}
SCANOPY_HEARTBEAT_INTERVAL={{ scanopy_daemon_heartbeat_interval }}
SCANOPY_ALLOW_SELF_SIGNED_CERTS=true
RUST_LOG={{ scanopy_daemon_log_level }}
