http:
  pprof:
    port: 6060
    enabled: false
  address: "0.0.0.0:80"
  session_ttl: 720h

users:
  - name: "{{ adguard_admin_user }}"
    password: "{{ adguard_admin_password_hash }}"

auth_attempts: 5
block_auth_min: 15
http_proxy: ""
language: "{{ adguard_language }}"
theme: "{{ adguard_theme }}"

dns:
  bind_hosts:
    - "{{ adguard_bind_host }}"
  port: {{ adguard_bind_port }}
  anonymize_client_ip: false
  ratelimit: 20
  ratelimit_subnet_len_ipv4: 24
  ratelimit_subnet_len_ipv6: 56
  ratelimit_whitelist: []
  refuse_any: true
  upstream_dns:
{% for s in adguard_upstream_dns %}
      - "{{ s }}"
{% endfor %}
  upstream_dns_file: ""
  bootstrap_dns:
{% for s in adguard_bootstrap_dns %}
      - "{{ s }}"
{% endfor %}
  fallback_dns: []
  upstream_mode: load_balance
  fastest_timeout: 1s
  allowed_clients: []
  disallowed_clients: []
  blocked_hosts:
    - version.bind
    - id.server
    - hostname.bind
  trusted_proxies:
    - 127.0.0.0/8
    - ::1/128
  cache_enabled: true
  cache_size: 4194304
  cache_ttl_min: 0
  cache_ttl_max: 0
  cache_optimistic: false
  cache_optimistic_answer_ttl: 30s
  cache_optimistic_max_age: 12h
  bogus_nxdomain: []
  aaaa_disabled: false
  enable_dnssec: true
  edns_client_subnet:
    custom_ip: ""
    enabled: true
    use_custom: false
  max_goroutines: 300
  handle_ddr: true
  ipset: []
  ipset_file: ""
  bootstrap_prefer_ipv6: false
  upstream_timeout: 10s
  private_networks: []
  use_private_ptr_resolvers: true
  local_ptr_upstreams: []
  use_dns64: false
  dns64_prefixes: []
  serve_http3: false
  use_http3_upstreams: false
  serve_plain_dns: true
  hostsfile_enabled: true
  pending_requests:
    enabled: true

tls:
  enabled: {{ adguard_tls_enabled | bool | lower }}
  server_name: "{{ adguard_tls_server_name }}"
  force_https: true
  port_https: 443
  port_dns_over_tls: 853
  port_dns_over_quic: 853
  port_dnscrypt: 0
  dnscrypt_config_file: ""
  allow_unencrypted_doh: false
  certificate_chain: |
{% if adguard_tls_certificate_chain %}
    {{ adguard_tls_certificate_chain | indent(4) }}
{% endif %}
  private_key: |
{% if adguard_tls_private_key %}
    {{ adguard_tls_private_key | indent(4) }}
{% endif %}
  certificate_path: ""
  private_key_path: ""
  strict_sni_check: false

querylog:
  dir_path: ""
  ignored: []
  interval: 2160h
  size_memory: 1000
  enabled: true
  file_enabled: true

statistics:
  dir_path: ""
  ignored: []
  interval: 2160h
  enabled: true

filters:
{% for f in adguard_filters %}
  - enabled: {{ f.enabled | bool | lower }}
    url: "{{ f.url }}"
    name: "{{ f.name }}"
    id: {{ f.id }}
{% endfor %}

whitelist_filters: []
user_rules: []

dhcp:
  enabled: {{ adguard_dhcp_enabled | bool | lower }}
  interface_name: "{{ adguard_dhcp_interface }}"
  local_domain_name: "{{ adguard_local_domain_name }}"
  dhcpv4:
    gateway_ip: "{{ adguard_dhcp_gateway }}"
    subnet_mask: "{{ adguard_dhcp_subnet_mask }}"
    range_start: "{{ adguard_dhcp_range_start }}"
    range_end: "{{ adguard_dhcp_range_end }}"
    lease_duration: {{ adguard_dhcp_lease_seconds }}
    icmp_timeout_msec: 1000
    options:
      - 15 text {{ adguard_local_domain_name }}
  dhcpv6:
    range_start: "{{ adguard_dhcpv6_range_start }}"
    lease_duration: {{ adguard_dhcp_lease_seconds }}
    ra_slaac_only: false
    ra_allow_slaac: false

filtering:
  blocking_ipv4: ""
  blocking_ipv6: ""
  blocked_services:
    schedule:
      time_zone: Local
    ids:
{% for svc in adguard_blocked_service_ids %}
      - {{ svc }}
{% endfor %}
  protection_disabled_until: null
  safe_search:
    enabled: false
    bing: true
    duckduckgo: true
    ecosia: true
    google: true
    pixabay: true
    yandex: true
    youtube: true
  blocking_mode: default
  parental_block_host: family-block.dns.adguard.com
  safebrowsing_block_host: standard-block.dns.adguard.com
  rewrites:
{% for r in adguard_rewrites | default([]) %}
    - domain: "{{ r.domain }}"
      answer: "{{ r.answer }}"
      enabled: {{ r.enabled | default(true) | bool | lower }}
{% endfor %}
  safe_fs_patterns:
    - /opt/AdGuardHome/userfilters/*
  safebrowsing_cache_size: 1048576
  safesearch_cache_size: 1048576
  parental_cache_size: 1048576
  cache_time: 30
  filters_update_interval: 24
  blocked_response_ttl: 10
  filtering_enabled: true
  rewrites_enabled: true
  parental_enabled: false
  safebrowsing_enabled: false
  protection_enabled: true

clients:
  runtime_sources:
    whois: true
    arp: true
    rdns: true
    dhcp: true
    hosts: true
  persistent: []

log:
  enabled: true
  file: ""
  max_backups: 0
  max_size: 100
  max_age: 3
  compress: false
  local_time: false
  verbose: false

os:
  group: ""
  user: ""
  rlimit_nofile: 0

schema_version: 32
