// {{ ansible_managed }}
Unattended-Upgrade::Origins-Pattern {
{% for origin in unattended_upgrades_origins %}
        "{{ origin }}";
{% endfor %}
};

Unattended-Upgrade::Package-Blacklist {
{% for pkg in unattended_upgrades_blacklist %}
        "{{ pkg }}";
{% endfor %}
};

Unattended-Upgrade::AutoFixInterruptedDpkg "true";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ unattended_upgrades_remove_unused_deps | string | lower }}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ unattended_upgrades_remove_unused_deps | string | lower }}";
Unattended-Upgrade::Automatic-Reboot "{{ unattended_upgrades_auto_reboot | string | lower }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_upgrades_reboot_time }}";
