{{ ansible_managed | comment }}

# NTP servers
{% for server in chrony_ntp_servers %}
pool {{ server }} iburst
{% endfor %}

# Record the rate at which the system clock gains/losses time
driftfile /var/lib/chrony/chrony.drift

# Allow the system clock to be stepped in the first N updates
# if its offset is larger than the threshold
makestep {{ chrony_makestep_threshold }} {{ chrony_makestep_limit }}

# Enable kernel synchronisation of the real-time clock (RTC)
rtcsync

# Get TAI-UTC offset and leap seconds from the system tz database
leapseclist /usr/share/zoneinfo/leap-seconds.list

# Log files location
logdir /var/log/chrony

{% if chrony_allow_networks | length > 0 %}
# Allow NTP client access from specified networks
{% for network in chrony_allow_networks %}
allow {{ network }}
{% endfor %}
{% endif %}
