kubescape-operator:
  clusterName: lab
  ksNamespace: kubescape
  global:
    overrideRuntimePath: "/host/var/lib/rancher/k3s/data/current/bin/runc"
  capabilities:
    configurationScan: enable
    continuousScan: enable
    nodeScan: enable
    vulnerabilityScan: enable
    relevancy: enable
    runtimeObservability: disable
    runtimeDetection: disable
    malwareDetection: disable
    networkPolicyService: enable
    seccompProfileService: enable
    autoUpgrading: disable
    prometheusExporter: disable
  kubescape:
    resources:
      requests:
        cpu: 500m
        memory: 128Mi
      limits:
        cpu: 1
        memory: 256Mi
  configurations:
    priorityClass:
      enabled: false
  resources:
    requests:
      cpu: 125m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi
