prometheus-pve-exporter:
  fullnameOverride: prometheus-pve-exporter

  image:
    registry: docker.io
    repository: prompve/prometheus-pve-exporter
    tag: "3.8.0"
    pullPolicy: Always

  env:
    pveAuthType: "token"
    pveUser: "pve-exporter@pve"
    pveExistingSecretName: "monitoring-pve-exporter"
    pveVerifySsl: false

  serviceMonitor:
    enabled: true
    additionalLabels:
      release: kube-prometheus-stack
    interval: 30s
    namespace: monitoring
    pveTargets:
      - https://pve01.m0sh1.cc:8006
      - https://pve02.m0sh1.cc:8006
      - https://pve03.m0sh1.cc:8006
