uptime-kuma:
  useDeploy: false

  ingress:
    enabled: true
    className: traefik
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      # external-dns.alpha.kubernetes.io/hostname: uptime.m0sh1.cc
    hosts:
      - host: uptime.m0sh1.cc
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - uptime.m0sh1.cc
        secretName: wildcard-m0sh1-cc

  image:
    repository: ghcr.io/louislam/uptime-kuma
    tag: 2.1.0-beta.1
    pullPolicy: IfNotPresent

  volume:
    enabled: true
    size: 5Gi
    storageClassName: proxmox-csi-zfs-nvme-fast-retain

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 400m
      memory: 512Mi
  nodeSelector:
    node-role.kubernetes.io/worker: "true"
  tolerations: []
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 80
          preference:
            matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values: ["pve-01"]
        - weight: 60
          preference:
            matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values: ["pve-02"]
  # tolerations:
  # - key: node-role.kubernetes.io/control-plane
  #   operator: Exists
  #   effect: NoSchedule
