uptime-kuma:
  useDeploy: false

  ingress:
    enabled: true
    className: traefik
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      # external-dns.alpha.kubernetes.io/hostname: uptime.m0sh1.cc
    hosts:
      - host: uptime.m0sh1.cc
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - uptime.m0sh1.cc
        secretName: wildcard-m0sh1-cc

  image:
    repository: ghcr.io/louislam/uptime-kuma
    tag: 2.1.0-beta.1@sha256:e690e9f4fc46bb2f24f9619c56c9d96e1d8eddd1f6563480a4b9787c582da762
    pullPolicy: IfNotPresent

  volume:
    enabled: true
    size: 5Gi
    storageClassName: proxmox-csi-zfs-nvme-fast-retain

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 400m
      memory: 512Mi
  # tolerations:
  # - key: node-role.kubernetes.io/control-plane
  #   operator: Exists
  #   effect: NoSchedule
